USE [DB_42569_enigma]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 07/18/2012 12:47:52 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[messages]') AND type in (N'U'))
DROP TABLE [dbo].[messages]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 07/18/2012 12:47:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[messages]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[messages](
	[msgID] [int] IDENTITY(1,1) NOT NULL,
	[msgFrom] [varchar](100) NOT NULL,
	[msgTo] [varchar](100) NOT NULL,
	[message] [varchar](max) NOT NULL,
 CONSTRAINT [PK_messages] PRIMARY KEY CLUSTERED 
(
	[msgID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[messages] ON
INSERT [dbo].[messages] ([msgID], [msgFrom], [msgTo], [message]) VALUES (3, N'oscber6867@gmail.com', N'jesposito61@gmail.com', N'{"encryptedMessage":"","letters":[],"endingPositions":[{"end":"A","slot":"1"},{"end":"A","slot":"2"},{"end":"A","slot":"3"}],"errorMessage":""}')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[messages] OFF
